{% extends 'base.html.twig' %}

{% block title %}Création d'une option{% endblock %}

{% block body %}

    <div class="container">
        <h2>Créer une nouvelle option</h2>
        {{ include('admin/specifications/_form.html.twig', {button: 'Créer une nouvelle option'}) }}
    </div>

{% endblock %}